<!-- If ngModel is used within a form tag, either the name attribute must be set or the form
    control must be defined as 'standalone' in ngModelOptions. -->

<form (ngSubmit)="submit(formRef)" #formRef="ngForm">
  <div
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px"
  >
    <!-- <pre>{{ playlist | json }}</pre> -->

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Name"
        [ngModel]="playlist.name"
        name="name"
        #nameInputRef="ngModel"
        required
        minlength="3"
        [bnpCensor]="['placki', 'batman']"
      />

      <mat-hint align="end">{{ playlist.name.length }} / 100</mat-hint>
      <mat-error *ngIf="nameInputRef.hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="nameInputRef.getError('minlength') as error">
        Minumum length is {{ error.requiredLength }}
      </mat-error>
      <mat-error *ngIf="nameInputRef.hasError('censor')">
        Value contains bad words
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-checkbox [ngModel]="playlist.public" name="public"></mat-checkbox>
      <mat-label>Public</mat-label>
    </div>

    <mat-form-field>
      <mat-label>Description:</mat-label>
      <textarea
        matInput
        placeholder="Description"
        [ngModel]="playlist.description"
        name="description"
      ></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <button mat-button color="warn" (click)="cancelClick()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
