<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="30px"
  *ngIf="playlist; else noPlaylistSelected"
>
  <!-- static ngTemplateGuard_ngIf: 'binding'; -->
  <mat-list>
    <mat-list-item
      [id]="'playlist_' + playlist.id"
      [attr.data-id]="playlist.id"
      [title]="playlist.name"
    >
      <div matLine>Name:</div>
      <div>{{ playlist.name }}</div>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <div matLine>Public:</div>
      <div
        [ngClass]="{
          public: playlist.public,
          private: playlist.public === false
        }"
      >
        {{ playlist.public ? 'Yes' : 'No' }}
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <div matLine>Description:</div>
      <div>{{ playlist.description }}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="editClick()">
      Edit
    </button>
    <div></div>
  </div>
</div>


<ng-template #noPlaylistSelected>
  <p>No playlist selected</p>
</ng-template>
